.inputFigures.gen
.motivationFigures.gen
.lagLengthFigures.gen
.eventShareFigures.gen
.governorFigures.gen

lag_length_mediumfreq.pdf
lag_length_mediumfreq_zoom.pdf
lag_length_allfreqs_vio.pdf
lag_length_mean_frames.pdf
input_classification.pdf
input_event_shares.pdf
energy_consumption_fixedFreq.pdf
irritation_fixedFreq.pdf
governor_oracle_energy.pdf
governor_oracle_irritation.pdf
fixedfreq_energy.pdf
fixedfreq_irritation.pdf
fixed_freq_gov_points.pdf
governor_avgfreq_diff.pdf
optimal_freq_dist.pdf
freqProfileMotivation.pdf

masking.pdf
getevent_trace.pdf
interaction_lag.pdf
irritation_metric.pdf
method_concept.pdf
method_detail.pdf
motivation.pdf
suggester_algorithm.pdf
video_capture.pdf
fixed_freq_gov_points_extended.pdf
